<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12">
        <p>Welcome to our website dedicated to exploring the trends and statistics of traffic accidents in Madrid. 
          Over the last five years, the city has experienced a significant increase in the number of traffic accidents, 
          many of which have resulted in serious injuries and even fatalities. Our aim is to provide a comprehensive 
          analysis of these
      </div>
      <div class="col-lg-4 col-12">
        <p>accidents, highlighting the factors that contribute to them and offering ideas on how we can work together to make
          our roads safer for everyone.</p>
        <p>We believe that understanding the underlying causes of these accidents is crucial to reducing their frequency. 
          We will analyse data on weather conditions and other factors contributing to crashes,
      </div>
      <div class="col-lg-4 col-12">
        <p>and look at the impact of the pandemic on accident rates. We will also offer our own recommendations on how we can 
          all work together to reduce the number of accidents on Madrid's roads. </p>
        <p>Thank you for joining us on this journey. We hope that our analysis and insights will help inspire positive change 
          in our city.</p>
      </div>
    </div>
  </div>
</section>
