<!-- Portfolio Modals -->
<div class="modal-body">
  <a href="{{ post.permalink }}"><h2>{{ post.title }}</h2></a>
  <hr class="star-primary">
  {{ post.content }}
  <ul class="list-inline item-details">
    {% if post.project-date %} 
    <li>Date:
      <strong>{{ post.project-date }}</strong>
    </li>
    {% endif %}
  </ul>
  <div class="text-center">
    <div class="modal-buttons">
      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
    </div> 
  </div>
</div>
