<!-- Portfolio Modals Layout -->
---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>{{ post.title }}</h1>
      <hr class="star-primary">
      <hr>

      {{ post.content }}
      
      <p class="text-muted">{{ post.project-date }}</p>

      <div class="modal-buttons">
        <!-- {% if post.previous.url %} -->
        <!-- <a type="button" class="btn btn-primary pull-left" href="{{ post.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ post.previous.title }}">&larr; Previous<span class="d-none d-md-inline"></span></a> -->
        <!-- {% endif %} -->

        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

        <!-- {% if post.next.url %} -->
        <!-- <a type="button" class="btn btn-primary pull-right" href="{{ post.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ post.next.title }}"> Next<span class="d-none d-md-inline">&rarr;</span></a> -->
        <!-- {% endif %} -->
      </div> 
      
    </div>
  </div>
</div>
